h1 {
  font-family: 'Expletus Sans', cursive;;
  font-weight: 700;
  color: darkred;
  text-shadow: 2px 1px 2px lightblue;
}
h2 {
  font-family: 'Montez', cursive;;
  color: white;
  text-shadow: 2px 1px 2px #144867;
}
h3 {
  font-family: 'Expletus Sans', cursive;;
  font-weight: 700;
  color: darkred;
  text-shadow: 2px 1px 2px lightblue;
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 76px;
  }
  h2 {
    font-size: 66px;
  }
  h3 {
    font-size: 46px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  h1 {
    font-size: 66px;
  }
  h2 {
    font-size: 56px;
  }
  h3 {
    font-size: 41px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 46px;
  }
  h3 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 31px;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 26px;
  }
}
p,
.lightBackground {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 600;
  font-size: 20px;
  color: black;
}
.site-text {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 2px 5px 0px rgba(4, 4, 4, 0.5);
}
.images:hover {
  content: url("http://i.imgur.com/E1LjfbD.jpg");
}
.shadowLight {
  text-shadow: 2px 1px 2px darkgrey;
  color: rgba(255, 255, 255, 0.7);
}
.shadowDark {
  text-shadow: 2px 1px 2px darkred;
  color: rgba(0, 0, 0, 0.7);
}
#navbar {
  background-color: #e7e7e7;
  -webkit-filter: none;
          filter: none;
}
.navbar-header {
  padding-left: 15px;
  background-color: #e7e7e7;
}
.navbar-header:hover {
  background-color: lightgrey;
}
.navbar-brand {
  font-family: 'Expletus Sans', cursive;;
  color: #266b8e !important;
}
.navbar-brand:hover {
  color: darkred !important;
}
ul.nav li a {
  font-family: 'Montez', cursive;;
  color: #266b8e !important;
}
ul.nav li a:hover {
  color: darkred !important;
  background-color: lightgrey !important;
}
.footer {
  padding-top: 25px;
}
.footer .container a {
  font-family: 'Montez', cursive;;
  padding-right: 10px;
  padding-left: 10px;
  color: #266b8e;
  margin-top: 25px;
}
.footer .container a:hover {
  color: darkred;
  text-decoration: none;
}
#footer {
  font-family: 'Expletus Sans', cursive;;
  padding-top: 15px;
  font-size: 10px;
  color: #266b8e;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  box-shadow: 2px 5px 0px rgba(4, 4, 4, 0.3);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active {
  margin: 3px;
}
.btn {
  font-family: 'Expletus Sans', cursive;;
  opacity: 0.85;
  /* Opacity for Modern Browsers */
  filter: alpha(opacity=85);
  /* Opacity for IE8 and lower */
  zoom: 1;
  /* Fix for IE7 */
  margin-bottom: 5px;
  border-color: #266b8e !important;
  border-left-width: 2px !important;
  border-top-width: 2px !important;
}
.btn:hover {
  color: #fff !important;
  background-color: #266b8e !important;
  border-color: darkred !important;
  opacity: 0.85;
  /* Opacity for Modern Browsers */
  filter: alpha(opacity=85);
  /* Opacity for IE8 and lower */
  zoom: 1;
  /* Fix for IE7 */
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
  box-shadow: shake !important;
  -moz-box-shadow: shake !important;
  -webkit-box-shadow: shake !important;
  -webkit-animation-name: shake !important;
          animation-name: shake !important;
  animation-duration: .5s !important;
  -moz-animation-duration: .5s !important;
  -webkit-animation-duration: .5s !important;
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(1px);
  }
}
hr {
  width: 90%;
  height: 5px;
  background: #000;
}
.section {
  padding-top: 30px;
}
.home {
  display: table;
  background: url(http://i.imgur.com/AIucynO.jpg) no-repeat center center fixed;
  height: 1000px;
  position: relative;
  width: 100%;
  background-size: cover;
  padding-top: 150px;
}
.about {
  display: table;
  background: url(http://i.imgur.com/J4jDj3Q.jpg) no-repeat center center fixed;
  height: 1000px;
  position: relative;
  width: 100%;
  background-size: cover;
}
.portfolio {
  display: table;
  background: url(http://i.imgur.com/tSK969P.jpg) no-repeat center center fixed;
  height: 1000px;
  position: relative;
  width: 100%;
  background-size: cover;
}
.contact {
  display: table;
  background: url(http://i.imgur.com/3B2hNnW.jpg) no-repeat center center fixed;
  height: 850px;
  position: relative;
  width: 100%;
  background-size: cover;
}
